In [1]:
import json
import pandas as pd
from glom import glom
import seaborn as sns

In [110]:
decay = 0.8

In [128]:
with open('../data/2018ish_data.json') as json_file:
    raw = pd.read_json(json_file)
    
raw

,course_number,course_name,term,year,eligible,responded,teachers,ratings,inclass_hours,outclass_hours
0,1.74,"Land, Water, Food, and Climate",Fall,2020,11,5,"[{'id': '900026886', 'name': 'McLaughlin, Denn...",{'The expectations for the subject were clearl...,{},{}
1,STS.036,Science in American Life: 1920-2020,Fall,2021,10,8,"[{'id': '923680689', 'name': 'Durant, John R.'...",{'Subject expectations were clearly defined': ...,"{'avg': 3.6, 'responses': 8.0, 'median': 3.5, ...","{'avg': 3.6, 'responses': 8.0, 'median': 3.5, ..."
2,1.008,Engineering Solutions to Societal Challenges,Fall,2020,18,9,"[{'id': '923797094', 'name': 'Amin, Saurabh', ...",{'The expectations for the subject were clearl...,{},{}
3,1.38,Engineering Geology,Fall,2020,2,1,"[{'id': '900012303', 'name': 'Einstein, Herber...",{'The expectations for the subject were clearl...,{},{}
4,1.000,Introduction to Computer Programming and Numer...,Fall,2020,13,9,"[{'id': '922303500', 'name': 'Juanes, Ruben', ...",{'The expectations for the subject were clearl...,{},{}
...,...,...,...,...,...,...,...,...,...,...
5446,8.01L,Physics I,Fall,2018,66,39,"[{'id': '921444924', 'name': 'Jarillo-Herrero,...",{'Subject expectations were clearly defined': ...,"{'avg': 7.4, 'responses': 37.0, 'median': 7.0,...","{'avg': 7.4, 'responses': 37.0, 'median': 7.0,..."
5447,8.286,The Early Universe,Fall,2018,39,23,"[{'id': '900020325', 'name': 'Guth, Alan', 'ty...",{'Subject expectations were clearly defined': ...,"{'avg': 5.9, 'responses': 22.0, 'median': 6.0,...","{'avg': 5.9, 'responses': 22.0, 'median': 6.0,..."
5448,8.033,Relativity,Fall,2018,69,52,"[{'id': '921587983', 'name': 'Vitale, Salvator...",{'Subject expectations were clearly defined': ...,"{'avg': 7.1, 'responses': 50.0, 'median': 7.0,...","{'avg': 7.1, 'responses': 50.0, 'median': 7.0,..."
5449,8.225,"Einstein, Oppenheimer, Feynman: Physics in the...",Fall,2018,50,34,"[{'id': '900051737', 'name': 'Kaiser, David I....",{'Subject expectations were clearly defined': ...,"{'avg': 4.9, 'responses': 33.0, 'median': 5.0,...","{'avg': 4.9, 'responses': 33.0, 'median': 5.0,..."
5450,8.01,Physics I,Fall,2018,589,359,"[{'id': '900041417', 'name': 'Chakrabarty, Dee...",NaN,NaN,NaN

In [129]:
class_df = raw
class_df['rating'] = raw['ratings'].apply(lambda row: glom(row, 'Overall rating of the subject.avg', default=None))
class_df['hours'] = pd.to_numeric(raw['inclass_hours'].apply(lambda row: glom(row, 'avg', default=None)))
class_df.dropna(subset=['rating', 'year'], inplace=True)
# display(pd.to_numeric(class_df['year'], errors='coerce'))
class_df['year'] = pd.to_numeric(class_df['year'], errors='coerce', downcast  = 'integer')
# class_df = class_df[~(class_df['term'] == 'IAP')]
class_df['time'] = [2022 for _ in range(len(class_df))] - class_df['year']
class_df['time'] = 2 * class_df['time'] + (~class_df['term'].str.contains('Fall')).astype('int') 
class_df['weight'] = class_df['responded'] * class_df['time'].rpow(decay)

class_df = class_df.drop_duplicates(subset=['term', 'year', 'eligible', 'responded', 'hours', 'time', 'rating'])

class_df = class_df[['course_number', 'course_name', 'responded', 'rating', 'hours', 'time', 'weight']]

class_df

,course_number,course_name,responded,rating,hours,time,weight
0,STS.036,Science in American Life: 1920-2020,8,6.6,3.6,2.0,5.120000
1,4.181,Architectural Design Workshop,0,0.0,0.0,5.0,0.000000
2,4.182,Architectural Design Workshop,4,7.0,7.7,5.0,1.310720
3,1.091,Traveling Research Environmental eXperience (T...,5,6.4,26.2,5.0,1.638400
4,4.02A,Design Studio: How to Design Intensive,11,6.4,5.5,5.0,3.604480
...,...,...,...,...,...,...,...
2833,8.13,Experimental Physics I,26,5.4,15.3,8.0,4.362076
2834,8.01L,Physics I,39,5.2,7.4,8.0,6.543114
2835,8.286,The Early Universe,23,6.7,5.9,8.0,3.858760
2836,8.033,Relativity,52,5.7,7.1,8.0,8.724152
2837,8.225,"Einstein, Oppenheimer, Feynman: Physics in the...",34,6.3,4.9,8.0,5.704253

In [144]:
filt = class_df[~class_df['course_number'].str.contains('21G')]
filt = filt[filt['weight'] != 0]
filt.reset_index(drop = True, inplace = True)
filt.dropna(inplace = True)
# filt[filt.isnull().values]
# filt

In [146]:
m = sum(filt['rating'] * filt['weight']) / sum(filt['weight'])
m

5.807321775113703

In [148]:
c = filt.sort_values('weight').iloc[[len(filt) / 4]]['weight'].iloc[0]
c

1.0485760000000004

In [181]:
filt['weighted_rating'] = filt['weight'] * filt['rating']
grouped = filt.groupby('course_number')
df = grouped.mean()
df.drop(columns = ['time', 'rating', 'adjusted_rating', 'responded'], inplace=True)
df['weight'] = grouped.sum()['weight']
df['weighted_rating'] = grouped.sum()['weighted_rating']
df.reset_index(inplace=True)
filt_names = filt[['course_name', 'course_number']]
df = df.merge(filt_names, how = 'inner', left_on = 'course_number', right_on = 'course_number')
df.drop_duplicates(inplace=True)

In [182]:
df['adjusted_rating'] = (df['weighted_rating'] + c * m) / (df['weight'] + c)
df.sort_values('adjusted_rating', ascending = False)[:40]

,course_number,hours,weight,weighted_rating,course_name,adjusted_rating
1353,21M.460,0.650000,11.114906,77.217137,MIT Senegalese Drum Ensemble,6.848907
1271,21L.591,12.700000,6.894387,48.260710,Literary London,6.842551
640,15.6731,4.300000,6.710886,46.976205,Negotiation Analysis,6.838827
195,11.011,7.700000,13.893632,95.997133,The Art and Science of Negotiation,6.832093
639,15.672,3.700000,15.400960,106.266624,Negotiation Analysis,6.830347
200,11.111,7.300000,5.033165,35.232154,Leadership in Negotiation: Advanced Applications,6.794366
500,15.268,3.200000,4.823450,33.764147,Choice Points: Thinking about Life and Leaders...,6.787022
795,17.317,3.500000,8.388608,57.881395,US Social Policy,6.778591
1425,21W.762,3.200000,5.557453,38.640026,Poetry Workshop,6.771003
2081,6.809,7.933333,14.428406,98.448703,Interactive Music Systems,6.754426
689,15.S03,3.500000,6.710886,46.305116,Special Seminar in Management,6.752341
1291,21L.S88,9.200000,6.225920,42.958848,Special Subject in Literature,6.742497
1788,4.674,4.300000,7.759462,53.288632,French Photography,6.741348
2074,6.803,7.700000,6.081741,41.964012,The Human Intelligence Enterprise,6.739312
1339,21M.401,0.600000,6.081741,41.964012,MIT Concert Choir,6.739312
1377,21M.710,3.150000,3.617587,25.323110,Script Analysis,6.731982
885,18.218,7.300000,5.242880,36.175872,Topics in Combinatorics,6.717887
989,2.074,10.050000,4.016046,27.894219,Solid Mechanics: Elasticity,6.710005
1975,6.070,0.866667,3.837788,26.663191,Electronics Project Laboratory,6.702859
1505,24.917,3.100000,8.126464,55.259955,ConLangs: How to Construct a Language,6.686551
2547,HST.434,10.400000,4.259840,29.392896,Evolution of an Epidemic (Study Abroad),6.684162
1393,21M.862,2.850000,3.617587,25.087181,Topics in Performance Practice,6.681421
1347,21M.442,3.500000,2.831155,19.818086,MIT Festival Jazz Ensemble,6.677655
1478,24.201,5.300000,5.557453,38.021366,Topics in the History of Philosophy,6.677353
508,15.283,2.900000,3.984589,27.493663,Social Media Management: Persuasion in Network...,6.672359
928,18.900,4.250000,6.553600,44.564480,Geometry and Topology in the Plane,6.663079
1313,21M.273,3.700000,2.621440,18.350080,Opera,6.659235
641,15.675,4.900000,22.937600,153.485312,Negotiation Seminar,6.652779
1345,21M.426,1.500000,5.976883,40.642806,MIT Wind Ensemble,6.651839
1269,21L.590,5.550000,9.083290,61.284024,The Spanish Incubator,6.649658
129,1.86,4.300000,3.365929,23.259513,Methods and Problems in Microbiology,6.648295
1211,21H.214,5.400000,3.355443,23.152558,War and American Society,6.639839
447,14.472,6.950000,5.347738,36.364616,Public Economics II,6.637266
2516,EM.THG,22.160000,8.362394,56.355717,EM Graduate Thesis,6.635356
1610,3.S06,2.400000,2.359296,16.515072,Special Subject in Materials Science and Engin...,6.633022
1777,4.621,10.400000,2.359296,16.515072,"Orientalism, Colonialism, and Representation",6.633022
2373,8.701,7.900000,2.359296,16.515072,Introduction to Nuclear and Particle Physics,6.633022
1322,21M.302,4.600000,12.111053,81.154540,Harmony and Counterpoint II,6.629667
1102,2.792,6.700000,5.033165,34.225521,Quantitative Systems Physiology,6.628849
884,18.217,10.000000,4.980736,33.869005,Combinatorial Theory,6.627360

**todo:**
- penalize standard deviation ? idk if we care
- make a professor df and do calculations on them